@charset "utf-8";

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(255, 0, 0);
    background: #fff;
}

body{
    background-image: url("404img.jpg");
}

p, th, td, li, dd, dt {
    font: 1em Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

clubhub-logo {
    color:darkcyan;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }