<!DOCTYPE html>
<html>
<head>
    <title>ClubHub.com</title>
</head>
<body>
    {% include 'header.html' %} <br>

    {% if error == "server" %}
        A server error ocurred. Please contact the system administrator.
        <br>

    {% elif error == "404" %}
        Ruh-roh! It seems like the page you were looking for doesn't exist.
        <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQupiSx4rI8_Anv5kWeBVWkv38nVunJQkHyRQ&usqp=CAU">
        <br>

    {%endif%}

   <a href="/index" > Click here to go home! </a>
   <br>
   {% include 'footer.html' %}

   <!---Keep the JS below at the bottom of body. For loading bootstrap-->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
   <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
</body>
</html>