<!DOCTYPE html>
<html>
  <head>
     <title>ClubHub.com</title>
     <link rel="icon" href="/static/images/clubhub-logo.jpeg">
  </head>
  <body>

    {% include 'header.html' %}

    <table>
    <td class="main" style="padding: 1.5rem">

        <h1> About ClubHub </h1>
        ClubHub is a platform to streamline communication between Princeton clubs and interested students.<br><br>
        Students can search for clubs by keyword and by tags (such as A Cappella, Sports/Recreation, Political, and more!).
        Students can subscribe to a club to receive email notifications from officers. In addition, students can subscribe to
        entire tags of clubs to receive email notifications from all of the clubs under that tag. <br><br>
        etc etc if you're an officer you can send announcements and edit club blah blah blah blha <br><br>
        reach out to clubhub-admin@princeton.edu with any issues.



    </td>
   </table>

     {% include 'footer.html' %}

     <!---Keep the JS below at the bottom of body. For loading bootstrap-->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
     <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  </body>
</html>