<!DOCTYPE html>
<html>

  <head>
     <title>ClubHub.com</title>
     <link rel="icon" href="/static/images/clubhub-logo.jpeg">
     <link rel="stylesheet" href="{{ url_for('static', filename='templates/general.css') }}">
    </head>


  <body>

    {% include 'header.html' %}

    <div style="padding:2rem">

    <table>
    <td>

        <div class="clubhub-button">
            <a class="clubhub-buttonlink" href="/profile?edit=0">
                Back to profile
            </a>
        </div>

        <br><br>

        {% if verified == false: %}
            <div class="clubhub-mediumlabel"> You are not an officer of this club. </div>

        {% else: %}

            <div class="clubhub-biglabel"> Send an announcement to {{clubname}}</div>
            <br>

            <div class="form-group">
                <label><div class="clubhub-mediumlabel"> Your Announcement </div></label>
                <textarea class="form-control" id="announcetext" rows="3"></textarea>
            </div>

            <br>
            <input type="hidden" id="clubid" value="{{clubid}}">
            <input class="clubhub-button" type="submit" value="Send my announcement" onclick="sendAnnouncement()">

        {% endif %}

    </td>
    </table>
    </div>

     {% include 'footer.html' %}

     <!---Keep the JS below at the bottom of body. For loading bootstrap-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='JS/announce.js') }}"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

  </body>
</html>