<!DOCTYPE html>
<html>

    <head>
        <title>ClubHub.com</title>
    </head>

    <body>

    <style>
        td.main{
            border-collapse: collapse;
            padding: 2rem;
        }

            div.clubhub-button{
            padding:0.5rem;
            background-color: darkcyan;
            margin-top: 10px;
            border-radius: 7px;
        }

        a.clubhub-buttonlink{
            color: black;
        }

        a.clubhub-buttonlink:hover {
            color: white;
         }

        .inputSpec:invalid {
            background-color: rgb(240, 173, 151);
            width: 15rem;
        }

        </style>

    {% include 'header.html' %}


    <table>
        <td class="main">
            <div class="clubhub-button" style="width:fit-content;display:inline-block;">
                <a class="clubhub-buttonlink" href = "/profile?edit=0">
                    <div style="display:inline-block;">
                    Back to profile</div>
                </a>
            </div>
        </td>
    </table>

    <div style="padding-left: 2rem; padding-right: 1.5rem">

        {% if verified == false: %}
            You are not an officer of <em>{{clubname}}</em>!

        {% else: %}
            <h2>Edit {{clubname}}</h2> <br>

            <h3> Add an Officer </h3>

                <label for="newofficer">Enter the new officer's netid:</label>
                <input type="text" id="newofficer">
                <input type="hidden" id="clubid"value="{{clubid}}"> &nbsp
                <button> <small onclick="new_officer()"><em>Submit</em></small></button>

            <br><hr>

            <h3> Edit Club Details </h3>

                <form id="editform">
                    <input type="hidden" name="clubid" value="{{clubid}}">
                    <input type="hidden" name="clubname" value="{{clubname}}">

                    <label for="clubmission">Mission: </label><br>
                    <textarea id="clubmission" name="clubmission" form="editform" rows="4" style="width: 40rem"></textarea><br><br>

                    <label for="clubgoals">Goals: </label><br>
                    <textarea id="clubgoals" name="clubgoals" form="editform" rows="4" style="width: 40rem"></textarea><br><br>

                    <label for="clubimlink">Image link: </label><br>
                    <input type="text" id="clubimlink" name="clubimlink" class="inputSpec"><br><br>

                    <label for="clubemail">Email: </label><br>
                    <input type="text" id="clubemail" name="clubemail" class="inputSpec"><br><br>

                    <label for="clubinstagram">Instagram: </label><br>
                    <input type="text" id="clubinstagram" name="clubinstagram" class="inputSpec"><br><br>

                    <label for="clubyoutube">YouTube: </label><br>
                    <input type="text" id="clubyoutube" name="clubyoutube" class="inputSpec"><br>

                    <br>
                    <input onclick="update_data()" type="submit" value="Update info">

                </form>

        {% endif %}

        </div>


         {% include 'footer.html' %}


         <!---Keep the JS below at the bottom of body. For loading bootstrap-->
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='JS/editclub.js') }}"></script>
      </body>
    </html>
