<!DOCTYPE html>
<html>

    <head>
        <title>ClubHub.com</title>
        <link rel="icon" href="/static/images/clubhub-logo.jpeg">
        <link rel="stylesheet" href="{{ url_for('static', filename='templates/general.css') }}">
    </head>

    <body onload="fillfields()">

    <style>
        .inputSpec{
            width: 15rem;
        }
        .inputSpec:invalid {
            background-color: rgb(240, 173, 151);
        }
        input[type=text] {
            border-radius: 0.3rem;
            border: 2px solid lightgray;
            padding: 0.2rem;
        }
        textarea {
            border-radius: 0.3rem;
            border: 2px solid lightgray;
            padding: 0.2rem;
        }
        input[type=submit] {
            padding: 0.5rem;
            background: rgb(73, 173, 173);
            color: white;
            border:0 none;
            border-radius: 5px;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    </style>

    {% include 'header.html' %}

    <div style="padding-left: 2rem; padding-top:2rem; padding-right: 1.5rem">

        <div class="clubhub-button">
            <a class="clubhub-buttonlink" href="/profile?edit=0">
                Back to profile
            </a>
        </div>
        <br><br>

        {% if verified == false: %}
            You are not an officer of <em>{{clubname}}</em>!

        {% else: %}

        <div style="font-size:2rem; padding-bottom: 0.5rem;"> Edit Club Details for {{clubname}}</div>

                <form id="editform">
                    <input type="hidden" name="clubid" value="{{clubid}}">
                    <input type="hidden" name="clubname" value="{{clubname}}">

                    <label for="clubmission"> <div style="font-size:1.25rem"> Mission: </div> </label><br>
                    <textarea id="clubmission" name="clubmission" form="editform" rows="4" style="width: 40rem"></textarea><br><br>

                    <label for="clubgoals"> <div style="font-size:1.25rem"> Goals: </div> </label><br>
                    <textarea id="clubgoals" name="clubgoals" form="editform" rows="4" style="width: 40rem"></textarea><br><br>

                    <label for="clubemail"><div style="font-size:1.25rem"> Email: </div> </label><br>
                    <input type="text" id="clubemail" name="clubemail" class="inputSpec"><br><br>

                    <label for="clubimlink"><div style="font-size:1.25rem"> Image URL: </div> </label><br>
                    <input type="text" id="clubimlink" name="clubimlink" class="inputSpec"><br><br>

                    <label for="clubinstagram"><div style="font-size:1.25rem"> Instagram URL: </div> </label><br>
                    <input type="text" id="clubinstagram" name="clubinstagram" class="inputSpec"><br><br>

                    <label for="clubyoutube"><div style="font-size:1.25rem"> YouTube URL: </div> </label><br>
                    <input type="text" id="clubyoutube" name="clubyoutube" class="inputSpec"><br>

                    <input onclick="update_data()" type="submit" value="Update info">

                </form>

            <hr>

            <div style="font-size:2rem; padding-bottom: 0.5rem;"> Edit Officers for {{clubname}}</div>
            <div style="font-size:1.25rem"> Current Officers</div>
                <ul>
                    {% for person in curr_officers: %}
                        <li>{{person[0]}}  ({{person[1]}})</li>
                    {% endfor %}
                </ul>

                <div style="font-size:1.25rem"> Add an Officer </div>


                <label for="newofficer">Enter the new officer's netid: </label>
                <input type="text" id="newofficer">
                <input type="hidden" id="clubid"value="{{clubid}}"> &nbsp <br>
                <button class="clubhub-button" onclick="new_officer()">Submit</button>

                <br><br>

                <button type="button" class="btn btn-danger">
                    <div id ='resign'onclick="remove_officer()">Resign as Officer</div></button>

        {% endif %}

        </div>


         {% include 'footer.html' %}


         <!---Keep the JS below at the bottom of body. For loading bootstrap-->
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='JS/editclub.js') }}"></script>
      </body>
    </html>
