<!DOCTYPE html>
<html>

<head>
    <title>ClubHub.com</title>
    <link rel="icon" href="/static/images/clubhub-logo.jpeg">
</head>

<body>
    <style>

        td.main{
           border-collapse: collapse;
           padding-top: 1rem;
        }

         div.clubhub-button{
            padding:0.5rem;
            background-color: darkcyan;
            margin-top: 10px;
            border-radius: 7px;
        }

        a.clubhub-buttonlink{
            color: white;
        }

     </style>

    {% include 'header.html' %}

    <div style="padding-top: 2rem; padding-left: 2rem;">

    {% if error == "server" %}
        A server error ocurred. Please contact the system administrator.
        <br>

    {% elif error == "404" %}
        Ruh-roh! It seems like the page you were looking for doesn't exist.

    {% elif error == "query" %}
        Please enter a club query.

    {% elif error == "lacking_info" %}
        Either you've tried to access a page you shouldn't (tsk tsk), or something is broken. If it's the second, please contact the system administrator.
        <br><br>

    {%endif%}

   <table>
    <td class="main">
        <div class="clubhub-button" style="width:fit-content;display:inline-block;">
            <a class="clubhub-buttonlink" href = "/index">
                <div style="display:inline-block;"> Back to club search</div>
            </a>
        </div>
    </td>
    </table>
    </div>

   {% include 'footer.html' %}

   <!---Keep the JS below at the bottom of body. For loading bootstrap-->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>