/* All pages use td to insert a padding of 2rem */
td {
    border-collapse: collapse;
    padding: 2rem;
 }


 /* table, th, td {
    border: 1px solid black;
  }
 /* Sizing for labels in ClubHub pages */
.clubhub-biglabel{
    font-size:2rem;
    padding-bottom: 0.5rem;
}
.clickable{
    cursor: pointer;
}
.clubhub-bigishlabel{
    font-size:1.5rem;
    padding-bottom: 0.5rem;
}

.clubhub-mediumlabel{
    font-size:1.25rem;
}

.clubhub-mediumlabel-inline{
    font-size:1.25rem;
    display: inline;
}



/* Container and ids for organizing buttons on searchform */
.grid-container {
    display: grid;
    grid-template-columns: 16rem 1rem 1rem;
    grid-template-rows: 1rem 1rem 1rem 1rem 1.3rem 0.5rem 0.25rem;
}

#query{
    grid-column-start: 1

}

#tags{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 7;
}

#search{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
    font-weight: bold;
}



/* ClubHub button styling */
#clubhub-logo {
    color:darkcyan;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    display: inline;
}

.clubhub-button{
    padding: 0.5rem;
    background: rgb(73, 173, 173);
    color: white;
    border:0 none;
    border-radius: 5px;
    margin-top: 0rem;
    width:fit-content;
    display:inline-block;
}

a.clubhub-buttonlink{
    color: white;
    text-decoration: none;
}

a.clubhub-buttonlink:hover {
    padding: 0.5rem;
    color: white;
    border:0 none;
    border-radius: 5px;
}
.decoration{
    background-color:rgb(204, 239, 239)
}



/* Light gray and curved boxes for text inputs */
textarea {
    border-radius: 0.3rem;
    border: 2px solid lightgray;
    padding: 0.2rem;
    width: 40rem;
}

input[type=text] {
    border-radius: 0.3rem;
    border: 2px solid lightgray;
    padding: 0.2rem;
    width: 16rem;
    height: 2.25rem;
}

.inputSpec{
    width: 16rem;
}



/* Strikethrough for unsubscribing in profile */
label.strikethrough:hover{
    text-decoration: line-through;
    cursor: pointer;
 }



/* Club edit buttons in profile */
 .clubedit-button{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background: lightgray;
    color: black;
    border:0 none;
    border-radius: 5px;
    margin-top: 0.5rem;
    width:fit-content;
    display:inline-block;
}

 a.clubedit-buttonlink{
    color: black;
    font-size: small;
    text-decoration: none;
}

a.clubedit-buttonlink:hover {
    color: black;
    font-size: small;
}



/* Tags dropdown styling */
#tags {
    background-color: lightgray;
    color: black;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    width: 16rem;
}
#tagdropdown{
    max-height: 15rem;
    overflow-x: hidden;
}



/* Tag subscribe/unsubscribe dropdowns in profile*/
#tags-sub{
    background-color: rgb(73, 173, 173);
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    width:12rem
}

#tags-unsub{
    background-color: rgb(220,53,69);
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    width: 12rem;
}

#tag-warning{
    color:red;
    font-size:x-small;
}

.loading-gear{
    max-height:1.6rem;
    display:none;
}

