<!DOCTYPE html>
<html>
  <head>
     <title>ClubHub.com</title>
  </head>

  <body>
     <style>
        td {
           border-collapse: collapse;
           padding: 2rem;
        }
     </style>
     {% include 'header.html' %} <br>

     <table>
           <td>
               <h1>Your Profile</h1>
               Netid: {{username}} <br>
               Name: {{name}}<br>
               Class Year: {{year}}<br>
               Subscribed Clubs:<br>

               {% if subs|length==0: %}
               <em>&emsp;&emsp;Subscribe to clubs to see them listed here!</em><br>
               {% else: %}
               <ul>
               {% for each in subs: %}
                  <li><label>{{each[0]}}</label>
                     <small onclick="unsubscribe('{{each[1]}}')"><em>Unsubscribe</em></small></li>
               {% endfor %}
               </ul>
               {% endif %}

               <!--small><em>&emsp;&emsp;You are automatically subscribed to any clubs for which you are an officer.</em></small>
               <br--><br>

               Officer of Clubs:<br>

               {% if officerships|length==0: %}
               <em>&emsp;&emsp;You are not an officer of any clubs.</em>
               {% else: %}
               <ul>
               {% for each in officerships: %}
                  <li><a href="/announce?clubid={{officerships[each]}}">{{each}}</a></li>
               {% endfor %}
               </ul>
               {% endif %}

           </td>
  </table>

     {% include 'footer.html' %}

     <script>
         function unsubscribe(input) {

            fetch("/subscribe?subscribe=0&clubid="+input)
            .then(document.location.reload())
         }
     </script>

     <!---Keep the JS below at the bottom of body. For loading bootstrap-->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
     <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  </body>
</html>