<!DOCTYPE html>
<html>
  <head>
     <title>ClubHub.com</title>
     <link rel="icon" href="/static/images/clubhub-logo.jpeg">
     <link rel="stylesheet" href="{{ url_for('static', filename='templates/general.css') }}">
   </head>
  <body>
     <style>

        .scrollable-menu-dropdown {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
         }
         label.strikethrough:hover{
            text-decoration: line-through;
         }
         a.edit{
            background-color: rgb(212, 212, 212);
            margin-top: 10px;
            border-radius: 10px;
            padding-left:0.5rem;
            padding-right:0.5rem;
            padding-top:0.1rem;
            padding-bottom:0.1rem;
         }

     </style>
     {% include 'header.html' %}

     <table>
         <td class="main">

            <div class="clubhub-button" style="width:fit-content;display:inline-block;">
                <a class="clubhub-buttonlink" href = "/index">
                    <div style="display:inline-block;">
                     Back to club search</div>
                </a>
             </div>

            <br>
            <br>

            <h1>Your Profile</h1>
            <b>Netid:</b> {{username}} <br>
            <b>Name:</b> {{name}}<br>
            <b>Class Year:</b> {{year}}<br>
            <b>Subscribed Clubs:</b>
            {% if subs|length==0: %}
            <br><em>&emsp;&emsp;Subscribe to clubs to see them listed here!</em><br>
            {% else: %}

               <!-- Regular Mode -->
               {% if edit == 0: %}
                  <em><a class="edit" href="/profile?edit=1">Click here to edit</a></em><br>
                  <ul style="margin-bottom:0;">
                  {% for each in subs: %}
                     <li><label>{{each[0]}}</label>
                  {% endfor %}

               <!-- Editing mode -->
               {% else: %}
                  <em><a class="edit" href="/profile?edit=0">Stop editing</a></em><br>
                  <div style="color:red;size:small;">*Click on a club to unsubscribe</div>
                  <ul style="margin-bottom:0;">
                  {% for each in subs: %}
                     <li><label class="strikethrough"
                        onclick="unsubscribe('{{each[1]}}')">{{each[0]}}</label>
                  {% endfor %}

               {% endif %}
               </ul>

            {% endif %}

            <!--SUBSCRIBE TO TAGS DROPDOWN-->
            <br>
         <div class="btn-group dropright" style="padding-top:10px;">
            <button class="btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-toggle="dropdown"aria-expanded="false">Subscribe To Tags</button>
            <img id ="sub-loading" src="https://media.tenor.com/-n8JvVIqBXkAAAAM/dddd.gif" style="max-height:1.6rem;display:none;"></img>
            <ul id="tagdropdownAAA" class="dropdown-menu scrollable-menu-dropdown">
               <li><a class="dropdown-item" style="color:red; font-size:x-small;">*Subscribing to a tag will subscribe you to all clubs containing the specified tag.</a></li>
               {% for tag in sub_tags: %}
               <li onclick="sub_tag('{{tag[0]}}')">
                  <a class="dropdown-item" style="white-space:normal;">
                     <label for={{tag[0]}}>{{tag[0]}}</label>
                  </a>
               </li>
               {% endfor %}
            </ul>
            </div> <br>
         </div>
            <div class="btn-group dropright" style="padding-top:10px;">
               <button class="btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-toggle="dropdown"aria-expanded="false">Unsubscribe From Tags</button>
               <img id ="unsub-loading" src="https://media.tenor.com/-n8JvVIqBXkAAAAM/dddd.gif" style="max-height:1.6rem;display:none;"></img>
               <ul id="tagdropdownDDD" class="dropdown-menu scrollable-menu-dropdown">
                  <li><a class="dropdown-item" style="color:red; font-size:x-small;">*Unsubscribing to a tag will unsubscribe you to all clubs containing the specified tag.</a></li>
                  {% for tag in unsub_tags: %}
                  <li onclick="unsub_tag('{{tag[0]}}')">
                     <a class="dropdown-item" style="white-space:normal;">
                        <label for={{tag[0]}}>{{tag[0]}}</label>
                     </a>
                  </li>
                  {% endfor %}
               </ul>
               </div> <br>
            </div>


            <!--small><em>&emsp;&emsp;You are automatically subscribed to any clubs for which you are an officer.</em></small>
            <br--><br>

            <b>Officer of Clubs:</b><br>

            {% if officerships|length==0: %}
            <em>&emsp;&emsp;You are not an officer of any clubs.</em>
            {% else: %}
            <ul>
            {% for each in officerships: %}
               <li>{{each}}&nbsp;&nbsp;
                  <small><em>
                  <a class = 'edit' href="/announce?clubid={{officerships[each]}}"> Send announcement </a>
                  &nbsp;&nbsp;&nbsp;
                  <a class = 'edit' href="/edit_club?clubid={{officerships[each]}}"> Edit your club </a>
                  </em></small>

               </li>
            {% endfor %}
            </ul>
            {% endif %}

         </td>
  </table>

     {% include 'footer.html' %}

     <script type="text/javascript" src="{{ url_for('static', filename='JS/profile.js') }}"></script>

     <!---Keep the JS below at the bottom of body. For loading bootstrap-->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
     <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  </body>
</html>