<!DOCTYPE html>
 <html>
   <head>
      <title>ClubHub.com</title>
   </head>
   <body>
      <style>
         .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
         }
         td {
            border-collapse: collapse;
            padding: 2rem;
         }
      </style>
      <div style="padding:2rem;">
               <h1>Club Search</h1>
               <form action = "/searchresults2" method="get">
                     Search for clubs:<br>
                  <!---<button type="submit"><i class="fa fa-search"></i></button> --->
                     <input type="text" placeholder="Search for clubs, keywords..." name="clubquery">
                     <input type="submit" value="Go">
                     <br>
                     <script>
                     $('input, label').on('click', function(e){
                        e.stopPropagation();
                     });
                    </script>
                     <button class="btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" data-toggle="dropdown"aria-expanded="false">
                        Search With Tags
                      </button>
                      <ul class="dropdown-menu scrollable-menu">
                        {% for tag in tags: %}
                        <li><a class="dropdown-item" href="/profile">
                           <input type="checkbox" name="tags" id={{tag[0]}} value={{tag[0]}}>
                           <label for={{tag[0]}}>{{tag[0]}}</label>
                        </a></li>
                        {% endfor %}
                      </ul>
               </form>
            </div>
            <!--Split Screen-->

      {% include 'footer.html' %}

      <!---Keep the JS below at the bottom of body. For loading bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
      <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
   </body>
 </html>