<!DOCTYPE html>
 <html>
   <head>
      <title>ClubHub.com</title>
   </head>
   <body onload="update_selected()">
      <style>
         .scrollable-menu-dropdown {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
         }
         td {
            border-collapse: collapse;
            padding: 2rem;
         }
      </style>
         <h1>Club Search</h1>
         <form action = "/searchresults" method="get">
               Search for clubs:<br>
            <!---<button type="submit"><i class="fa fa-search"></i></button> --->
            <input type="text" placeholder="Search for clubs, keywords..." name="clubquery" value="{{clubquery}}">
            <input type="submit" value="Go">
            <div style="padding-top:8px;">
               <button class="btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" data-toggle="dropdown"aria-expanded="false">
                  Search With Tags
               </button>

               <br>
               <div id="selected_tags"></div>

               <!--SEARCH WITH TAGS-->
               <ul id="tagdropdown" class="dropdown-menu scrollable-menu-dropdown">
                  {% for tag in tags: %}
                  <li onclick="toggle('{{tag[0]}}')">
                     <a class="dropdown-item">
                        <label>{{tag[0]}}</label>
                        {% if tag[0] in checked: %}
                        <input type="checkbox" checked name="tags" id='{{tag[0]}}' value='{{tag[0]}}' onclick="toggle('{{tag[0]}}')">
                        {% else: %}
                        <input type="checkbox" name="tags" id='{{tag[0]}}' value='{{tag[0]}}' onclick="toggle('{{tag[0]}}')">
                        {% endif %}
                     </a>
                  </li>
                  {% endfor %}
               </ul>
            </div>
         </form>
      <script>
         document.getElementById("tagdropdown").addEventListener('click', function (event) {
         event.stopPropagation();
         });
      </script>

      <!---Keep the JS below at the bottom of body. For loading bootstrap-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='JS/searchform.js') }}"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

   </body>
 </html>