<!DOCTYPE html>
<html>

   <head>
      <title>ClubHub.com</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='templates/searchresults.css') }}">
   </head>

   <body>
      {% include 'header.html' %}
      <table width = 100%>
         <tr>
            <td max-width = 30% width = 30% style="vertical-align:top;padding:2rem;">
               {% include 'searchform.html'%}
               <br>
               <h1>Club Search Results</h1>
               <div id="search-results" class="scrollable-menu-results">
                  <div class="search_results_background">
                  {% if results|length == 0: %}
                     <strong>No Clubs Found</strong>
                  {% else %}

                     {% for each in results: %}
                     <div class="search-results-card" id = "card_{{each[1]}}" style="list-style-type: none;" >
                        <div class="search-results-link">
                           <!--<div class="card-body">-->
                              <li><strong><label style="padding:1rem; width:100%;"for={{each[1]}}>{{each[0]}}</label></strong></li>
                              <input type="radio" id={{each[1]}} name="clubname"
                              value="{{each[1]}}" onclick="changeInfo(); loadAnnouncements()" width="3rem;" style="display: none">
                           <!--</div>-->
                           </div>
                     </div>
                     {% endfor %}

                  {% endif %}<br>
                  </div>
               </div>
            </td>

            <!--Split Screen-->
            <td max-width = "70%" width="70%" style="vertical-align: top;">
              <!-- <h1>Club Info</h1>-->
               <div id="none-selected" style="padding:2rem;">
                  Select a club, and its info will appear here...
               </div>

               <div class="namecard" id = "graynamecard">
                  <table>
                     <style> td{padding:10px;} </style>
                     <tr>
                        <td rowspan = "2">
                           <img id = "clubimlink" style="max-width:200px;height:auto;width:200px;max-height:200px;border:0px;border-width:0rem;padding:1rem;"></img>
                        </td>
                        <td style="display:inline-block;"><div class="clubname" id = "clubname"></div></td>
                        <td id="subbutton" style="display:none;">
                           <div class="sub-button" style="width:fit-content;">
                              <input class = "checkSub" id = "check" type="checkbox" name="subscribed" onclick="subscribeUser()" style="display:none;">
                              <div class="sub-button-text checkSub"><label for="check">Subscribe</label></div>
                              <div class="unsub-button-text checkUnSub"><label for="check">Unsubscribe</label></div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td id = "socialstd">
                        <div id = "socials">
                           <a id = "clubemail" href="" target="_blank" style="display:none;"><img src="https://creativecommons.org/wp-content/uploads/2016/06/envelope.png" style="max-width:40px;"></img></a>
                           <a id = "clubinstagram" href="" target="_blank" style="display:none;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" style="max-width:40px;"></img></a>
                           <a id = "clubyoutube"href="" target="_blank" style="display:none;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png" style="max-width:40px;"></img></a>
                        </div>
                        </td>
                     </tr>
                  </table>
               </div>


               <div id="missionbr" style="display:none;"><br> </div>
                  <div class='clubinfo' style="display:none;" id = "missioncard">
                     
                     <b>Club mission:</b>
                     <div id = "clubmission" style='display:none;'></div>
                  </div>
                  <div id="goalsbr" style="display:none;"><br> </div>
                  <div class='clubinfo' style="display:none;" id = "goalscard">
                   <b>Club goals:</b>
                     <div id = "clubgoals" style='display:none;'></div>
                  </div>
<!--
               <class="goals" style="display:none;">
                  <td class = "goals" style="display:none;">
                  <b>Club Goals: </b><div class="clubattribute" id = "clubgoals"></div><br>
                  </td>
               -->
                  


               <!-- Tags output -->
               <br>
               <div class="tagscard" style="display:none;">
               
                  <b>🏷 Tags:</b>
                  <div id = tagsdiv style="display:none;"></div>
               </div>
               <!-- announcements feed for club -->
               <br><br>
               <div class="announcements-body scrollable-menu-results" style="width:100%;padding:1rem;display:none;">
                  <h2><b>Announcements:</b></h2>
                  <div id="club-announcements" style="width:100%;"></div>
               </div>
            </td>
         </tr>
   </table>

   {% include 'footer.html' %}

      <script type="text/javascript" src="{{ url_for('static', filename='JS/searchresults.js') }}"></script>

      <!---Keep the JS below at the bottom of body. For loading bootstrap-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

   </body>

 </html>