.scrollable-menu-results {
   height: auto;
   max-height: 50rem;
   overflow-x: hidden;
}
div.search-results-card{
   background-color: rgb(212, 212, 212);
   border-color: rgb(212, 212, 212);
   margin-top: 10px;
   border-radius: 7px;
   list-style-type: none;
   border: 2px solid rgb(212, 212, 212)
}
div.search-results-card-selected{
   background-color:rgba(248,249,250);
   border-color: darkcyan;
   margin-top: 10px;
   border-radius: 7px;
}
a.search-results-link {
   border-radius: 7px;
}
div.search_column{
   background-color: white;;
}
div.search_results{
   font-family: Arial, Helvetica, sans-serif;
}
div.card-body{
   padding: 1rem;
}

/* Sub button */
div.sub-button{
   padding:0.5rem;
   background-color: rgb(73, 173, 173);
   color: white;
   margin-top: 10px;
   margin-left: 1rem;
   border-radius: 7px;
}
div.sub-button-text:hover{
   color:white;
}
div.unsub-button-text:hover{
   color:white;
}

/* Tags card */
div.tagscard{
   background-color:white;
   padding:1rem;
   width:100%;
   border-radius:7px;
   margin-top: 1rem
}
div.clubinfo{
   background-color:lightgrey;
   padding:1rem;
   border-radius:7px;
   margin-top: 1rem
}

/* for CLUB INFO section of searchresults. */
div.clubname{
   font-size: 3rem;
   font-weight:bold;
}
div.namecard{
   background-color:rgb(255, 255, 255);
   border-radius:7px;
}
td {
   border-collapse: collapse;
}

/* Announcements cards */
div.ann-card{
   margin-top: 1rem;
   padding:0.5rem;
   background-color:rgb(162, 162, 162);
   border-radius:7px;
}
div.announcements-body{
   border-radius:7px;
}